<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb642967074216304</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>642967074216304</string>
	<key>FacebookClientToken</key>
	<string>a8c8225b39ab9ad3671a1180b5e46409</string>
	<key>FacebookDisplayName</key>
	<string>risingTest</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>사진첩 사용</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>녹음기</string>
	<key>NSCameraUsageDescription</key>
	<string>사진촬영</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
